body{
    /* background-color: #003742!important; */
    margin:0px;
    background-image:url("../images/maths_bg_board2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title{
    color: white;
    text-align: center;
    margin-bottom: 4%;
}

#input-screen{
    display:block;
    width:100%;
    text-align: right;
    height: 30px;

}

#output-screen{
    display:block;
    width:100%;
    text-align: right;
    height: 30px;

}

#calc_header{
    text-align: center;
    height: 30px;
    color:white;
    font-size: 15px;
    font-weight: 600;
    background: white;
}

.calc_btn{
    width:26%;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -1px;
    height: 50px;
    border: 1px solid grey;
    color:white;
    background: #2E383F;
}

.btn_last_col{
/* background: #0074E4; */
background: #F9A828;
color:black;
}

.row{
    margin-right: -15px!important;
    margin-left: -15px!important;
}
.calculator-body{
    border: 1px solid grey;
}

.btn_row{
    text-align: center;
}

.button-area{
    font-size: 17px;
    font-weight: 600;
}

